:root {
    --dark-invert: 0%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@keyframes expand-effect-animation {
    from {transform: scale(1);}
    to {transform: scale(1.01);}
}

@keyframes expand-effect-animation-reverse {
    from {transform: scale(1.01);}
    to {transform: scale(1);}
}

.expand-effect:hover {
    animation-name: expand-effect-animation;
    animation-duration: 0.3s;
    transform: scale(1.01);
}

.expand-effect {
    animation-name: expand-effect-animation-reverse;
    animation-duration: 0.3s;
    transform: scale(1);
}

.clickable {
    cursor: pointer;
}

.arrow-down-circle{
    filter: invert(var(--dark-invert));
    background: transparent url("/static/img/arrow-down-circle.svg") no-repeat top left;
    padding-left: 24px;
    height: 24px;
    width: 24px;
    border: 0 transparent;
}

.arrow-up-circle{
    filter: invert(var(--dark-invert));
    background: transparent url("/static/img/arrow-up-circle.svg") no-repeat top left;
    padding-left: 24px;
    height: 24px;
    width: 24px;
    border: 0 transparent;
}

.arrow-down-circle-fill{
    filter: invert(var(--dark-invert));
    background: transparent url("/static/img/arrow-down-circle-fill.svg") no-repeat top left;
    padding-left: 24px;
    height: 24px;
    width: 24px;
    border: 0 transparent;
}

.arrow-up-circle-fill{
    filter: invert(var(--dark-invert));
    background: transparent url("/static/img/arrow-up-circle-fill.svg") no-repeat top left;
    padding-right: 24px;
    height: 24px;
    width: 24px;
    border: 0 transparent;
}

.hidden {
    visibility: collapse;
}
