{% extends "base.html" %}
{% import "post.html" as post %}

{% block title %}New Thread{% endblock %}

{% block content %}

<form class="form-new-thread" method="POST">
    {{ form.hidden_tag() }}

    <h1 class="h3 mb-3 fw-normal">New Thread</h1>

    <div class="mb-3">
        {{ form.title(class='form-control', placeholder='Title') }}
    </div>
    <div class="mb-3">
        <i class="text-body-tertiary">Tip: Write 2 or more spaces at the end of a line to fonce a line break</i>
        {{ form.body(class='form-control', rows='11', placeholder='Reply') }}
    </div>
    <div class="mb-3 make-pretty">
        <h3>Preview:</h3>
        {{ post.post_preview(mde.preview, current_user) }}
    </div>

    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    {{ form.submit(class='w-100 btn btn-lg btn-primary') }}
</form>

{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/mde.css") }}">
{% endblock %}

{% block javascript %}
{{ mde.js }}
{% endblock %}
