{% extends "base.html" %}
{% import "post.html" as post %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="m-5">
{% if current_user.is_authenticated and current_user.str_id==thread.author.str_id and thread.seconds_posted() < 600 %}
    <form class="float-end" method="post" action="{{ url_for('thread.delete_thread', thread_id=thread.id) }}">
        <input type="submit" class="btn btn-danger" value="Delete">
    </form>
{% endif %}
    <div class="d-flex flex-row gap-3 m-2 align-items-center">
        {{ post.like_count(thread, current_user) }}
        <h1>{{ thread.title }}</h1>
    </div>

    {# Render with isThread=false in order to not add title #}
    {{ post.post(thread, current_user, false, false) }}

    {% for thread_post in posts %}
    {{ post.post(thread_post, current_user, false, false) }}
    {% endfor %}

    {% if current_user.is_authenticated %}
    <div class="card mt-5">
        <form class="card-body" method="post" action="{{ url_for('thread.reply_thread', thread_id=thread.id) }}">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                <i class="text-body-tertiary">Tip: Write 2 or more spaces at the end of a line to fonce a line break</i>
                {{ form.body(class='form-control', rows='5', placeholder='Reply') }}
            </div>
            <div class="mb-3 make-pretty">
                <p>Preview:</p>
                {{ post.post_preview(mde.preview, current_user) }}
            </div>

            {% if form.errors.items() | length > 0 %}
            <ul class="alert alert-danger d-flex flex-column justify-content-center align-items-center">
            {% for field, errors in form.errors.items() %}
                <li class="text-danger">{{ ', '.join(errors) }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            {{ form.submit(class='w-100 btn btn-lg btn-primary') }}
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/mde.css") }}">
{% endblock %}

{% block javascript %}
{{ mde.js }}
{% endblock %}