{% extends "base.html" %}
{% import "post.html" as post %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="m-5">
    <div class="d-flex flex-row gap-3 m-2 align-items-center">
        {{ post.like_count(thread, current_user) }}
        <h1>{{ thread.title }}</h1>
    </div>

    {# Render with isThread=false in order to not add title #}
    {{ post.post(thread, current_user, false, false) }}

    {% for thread_post in posts %}
    {{ post.post(thread_post, current_user, false, false) }}
    {% endfor %}

    {% if current_user.is_authenticated %}
    <div class="card mt-5">
        <form class="card-body" method="post" action="{{ url_for('thread.reply_thread', thread_id=thread.id) }}">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                <i class="text-body-tertiary">Tip: Write 2 or more spaces at the end of a line to fonce a line break</i>
                {{ form.body(only_input=True, class='form-control', rows='5', placeholder='Reply') }}
            </div>
            <div class="mb-3">
                <p>Preview:</p>
                {{ form.body(only_preview=True) }}
            </div>

            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            {{ form.submit(class='w-100 btn btn-lg btn-primary') }}
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block extra_head %}
{{ pagedown.html_head() }}
{% endblock %}