{% extends "base.html" %}
{% import "post.html" as post %}

{% block title %}Edit profile{% endblock %}

{% block content %}

    <div class="m-5">
        <div class="card">
            <form class="card-body" id="editForm" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <h2>{{ current_user.username }}</h2>

                <div class="mb-3">
                    <canvas width="256" height="256" id="pfpCanvas" style="z-index: 1">Your browser doesn't support canvas</canvas>
                </div>
                <div class="mb-3">
                    {{ form.profilePicture(onchange="handleFileSelect()") }}
                </div>

                <div class="text-muted">
                    <label for="user_id">User ID:</label>
                    <input id="user_id" value="{{ current_user.id }}" type="text" class="form-control" disabled readonly>
                </div>

                <div class="mb-3">
                    {{ form.username.label(class='form-label') }}
                    {{ form.username(class='form-control') }}
                </div>

                <div class="mb-3">
                    {{ form.email.label(class='form-label') }}
                    {{ form.email(class='form-control') }}
                </div>

                <div class="mb-3">
                    {{ form.signature.label(class='form-label') }}
                    {{ form.signature(only_input=True, class='form-control', rows='2', placeholder='Signature') }}
                </div>
                <div class="mb-3">
                    <p>Signature preview:</p>
                    {{ post.post_preview("Body of the post", current_user, form.signature(only_preview=True)) }}
                </div>

                <div class="mb-3">
                    {{ form.description.label(class='form-label') }}
                    {{ form.description(class='form-control') }}
                </div>

                <p>
                    Created on:
                    <br>
                    {{ current_user.created_at|dateformat('dd.MM.y') }} ({{ current_user.created_at|timedeltaformat }} ago)
                </p>

                <a class="link-body-emphasis" href="{{ url_for('users.user_threads', user_id=current_user.id) }}">View your threads</a>

                <br>
                <br>

                <div class="mb-3">
                    {{ form.password.label(class='form-label') }}
                    {{ form.password(class='form-control') }}
                </div>

                <div class="invisible" style="display: none">
                    {{ form.profilePictureCropX }}
                    {{ form.profilePictureCropY }}
                    {{ form.profilePictureCropSize }}
                </div>

                {{ form.submit(class='w-100 btn btn-lg btn-primary') }}
            </form>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/cropper.js') }}"></script>
    <script>
        let currentPfp = "{{ current_user.get_profile_pic() }}";

        let canvas = document.getElementById("pfpCanvas");
        let ctx = canvas.getContext("2d");
        let img = new Image();
        img.src = currentPfp;
        img.onload = ev => {
            ctx.drawImage(img,0,0,256,256);
        };
        let currentFile;

        cropper.start(canvas, 1); // initialize cropper by providing it with a target canvas and a XY ratio (height = width * ratio)
        function handleFileSelect() {
            // this function will be called when the file input below is changed
            currentFile = document.getElementById("profilePicture").files[0];  // get a reference to the selected file

            let reader = new FileReader(); // create a file reader
            // set an onload function to show the image in cropper once it has been loaded
            reader.onload = function(event) {
                let data = event.target.result; // the "data url" of the image
                cropper.showImage(data); // hand this to cropper, it will be displayed
                cropper.startCropping();
            };

            reader.readAsDataURL(currentFile); // this loads the file as a data url calling the function above once done
        }

        document.getElementById("editForm").onsubmit = ev => {
            let croppedInfo = cropper.getCroppedInfo();
            document.getElementById("{{ form.profilePictureCropX.id }}").value = croppedInfo.x;
            document.getElementById("{{ form.profilePictureCropY.id }}").value = croppedInfo.y;
            document.getElementById("{{ form.profilePictureCropSize.id }}").value = croppedInfo.width;
        }
            {#console.log("Submitting");#}
            {#let fileElement = document.getElementById("profilePicture");#}
            {#let blob = cropper.getCroppedImageBlob();#}
            {#if (blob === false || blob === true /* Not a blob type */){#}
            {#    console.log("Wasn't a blob");#}
            {#    return;#}
            {#let file = new File([blob], fileElement.files[0].name,#}
            {#    {type:fileElement.files[0].type, lastModified:new Date().getTime()});#}
            {#let container = new DataTransfer();#}
            {#container.items.add(file);#}
            {#fileElement.files = container.files;#}
    </script>
{% endblock %}

{% block extra_head %}
{{ pagedown.html_head() }}
{% endblock %}